<div class="container">
  <h2 class="title-date">Selectionner une date</h2>
  <mat-form-field class="date-selector-container" appearance="fill">
    <mat-label>Choisir une date</mat-label>
    <input
    matInput
    [formControl]="dateFormControl"
    [matDatepicker]="picker"
    [min]="today"
    [matDatepickerFilter]="filterDate"
    (dateChange)="changeDate($event)"
    (dateInput)="enableConfirm($event)">
    <mat-error *ngIf="dateFormControl.hasError('required')">
      Une date est requise.
    </mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker  #picker></mat-datepicker>

  </mat-form-field>
  <br/>
  <button
  class="date-confirm-button"
  mat-raised-button
  color="primary"
  matStepperPrevious>
  Précédent
  </button>
  <button
  class="date-confirm-button"
  mat-raised-button
  color="primary"
  (click)="selectDate()"
  [disabled]="disabled"
  matStepperNext>Confirmer la date</button>
</div>

