.container{
  justify-content: center;
  text-align: center;
}

.title-date{
  text-align: center;
  font-size: 2em;
  color: #29398D;
}

.date-selector-container{
  margin-top: 20px;
}

.date-confirm-button{
  margin-top: 10px;
  margin-right: 10px;
}
