<div class="stepper-container">
  <mat-horizontal-stepper linear="true">
    <mat-step>
      <ng-template matStepLabel>choisir le centre</ng-template>
      <ng-template matStepContent>
        <app-center-selection></app-center-selection>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>choisir la date</ng-template>
      <ng-template matStepContent>
        <app-date-selection></app-date-selection>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>informations personnelles</ng-template>
      <ng-template matStepContent>
        <app-information-selection></app-information-selection>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>récapitulatif</ng-template>
      <ng-template matStepContent>
        <app-confirm-selection></app-confirm-selection>
      </ng-template>
    </mat-step>
  </mat-horizontal-stepper>
</div>
