#header-navbar  {
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header-title{
  font-weight: lighter;
  font-size: 1.3em;
}

.home-icon{
  margin-top: 0.4em;
  margin-right: 1em;
}

#header-home-icon {
  font-size: 2.6em;

  transition: color .3s ease-in-out;
}
#header-home-icon:hover  {
  color: yellow;
  cursor: pointer;
}
