#section{
  text-align: center;
}

h2 {
  font-size: 2em;
  color: #29398D;
}

h3 {
  font-weight: bolder;
}
.field{
  display: flex;
  flex-direction: column;
}
#confirm-button{
  margin-top: 2em;
}
.previous-button{
  margin-right: 10px;
}
